
GOOGLE_APPLICATION_CREDENTIALS=serviceAccountKey.json
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyC3PF1EbW-a9Gv_N7sT_bhLORt3Uog31KM
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=cultured-nomads-44cec.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=cultured-nomads-44cec
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=cultured-nomads-44cec.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=832343662264
NEXT_PUBLIC_FIREBASE_APP_ID=1:832343662264:web:7725b58e438e4571db5e4d
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-YHCYXTL9R8